{%  extends '::basePublic.html.twig' %}

{% block content %}

<div class="container margin-bottom-40 margin-top-20">
          <div class="row">
            <div class="col-md-12 page-404">
               <div class="number">
                  ERROR
               </div>
               <div class="details">
                  <h3>Oops!  You're lost.</h3>
                  <p>We can not find the page you're looking for.<br><a href="{{ path('evt_eae_home_index') }}">Return home</a>.</p>
               </div>
            </div>
          </div>
        </div>

{% endblock %}