{%  extends '::basePublic.html.twig' %}

{% block content %}


<div class="container min-hight">
	<!-- BEGIN PRICING OPTION1 -->
	<div class="row margin-bottom-40 margin-top-20">
		<div class="col-md-3">
			<div class="pricing pricing-active">
				<div class="pricing-head pricing-head-active">
					<h3>Begginer <span>Officia deserunt mollitia</span></h3>
				</div>
				<ul class="pricing-content list-unstyled">
					<li><i class="icon-tags"></i> At vero eos</li>
					<li><i class="icon-asterisk"></i> No Support</li>
					<li><i class="icon-heart"></i> Fusce condimentum</li>
					<li><i class="icon-star"></i> Ut non libero</li>
					<li><i class="icon-shopping-cart"></i> Consecte adiping elit</li>
				</ul>
				<div class="pricing-footer">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna psum olor .</p>
					<a href="#" class="btn theme-btn">Sign Up</a>  
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="pricing">
				<div class="pricing-head">
					<h3>Pro<span>Officia deserunt mollitia</span></h3>
				</div>
				<ul class="pricing-content list-unstyled">
					<li><i class="icon-tags"></i> At vero eos</li>
					<li><i class="icon-asterisk"></i> No Support</li>
					<li><i class="icon-heart"></i> Fusce condimentum</li>
					<li><i class="icon-star"></i> Ut non libero</li>
					<li><i class="icon-shopping-cart"></i> Consecte adiping elit</li>
				</ul>
				<div class="pricing-footer">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna psum olor .</p>
					<a href="#" class="btn theme-btn">Sign Up</a>  
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="pricing">
				<div class="pricing-head">
					<h3>Expert <span>Officia deserunt mollitia</span></h3>
				</div>
				<ul class="pricing-content list-unstyled">
					<li><i class="icon-tags"></i> At vero eos</li>
					<li><i class="icon-asterisk"></i> No Support</li>
					<li><i class="icon-heart"></i> Fusce condimentum</li>
					<li><i class="icon-star"></i> Ut non libero</li>
					<li><i class="icon-shopping-cart"></i> Consecte adiping elit</li>
				</ul>
				<div class="pricing-footer">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna psum olor .</p>
					<a href="#" class="btn theme-btn">Sign Up</a>  
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="pricing">
				<div class="pricing-head">
					<h3>Hi-Tech<span>Officia deserunt mollitia</span></h3>
				</div>
				<ul class="pricing-content list-unstyled">
					<li><i class="icon-tags"></i> At vero eos</li>
					<li><i class="icon-asterisk"></i> No Support</li>
					<li><i class="icon-heart"></i> Fusce condimentum</li>
					<li><i class="icon-star"></i> Ut non libero</li>
					<li><i class="icon-shopping-cart"></i> Consecte adiping elit</li>
				</ul>
				<div class="pricing-footer">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna psum olor .</p>
					<a href="#" class="btn theme-btn">Sign Up</a>  
				</div>
			</div>
		</div>
	</div>
	<!-- END PRICING OPTION1 -->
</div>

{% endblock %}