<div id="reportrange_create" class="btn default">
    <input type="hidden" name="create_start" id="reportrange_create_start" value="{{ app.request.get('create_start') }}">
    <input type="hidden" name="create_end" id="reportrange_create_end" value="{{ app.request.get('create_end') }}">
    <i class="fa fa-calendar"></i>
    &nbsp;
    <span></span>
    <b class="fa fa-angle-down"></b>
</div>