<div id="reportrange" class="btn default">
    <input type="hidden" name="event_start" id="reportrange_start" value="{{ app.request.get('event_start') }}">
    <input type="hidden" name="event_end" id="reportrange_end" value="{{ app.request.get('event_end') }}">
    <i class="fa fa-calendar"></i>
    &nbsp;
    <span></span>
    <b class="fa fa-angle-down"></b>
</div>