{% extends "EVTEAEBundle:Email:Base.Mail.twig" %}

{% block title %}{% trans %}title.resetPassword.user{% endtrans %}{% endblock %}

{% block content %}
<table class="container content" align="center">
    <tr>
        <td>
            <table class="row note">
                <tr>
                    <td class="wrapper last">
                        <span class="devider"></span>
                        <p>{% trans %}new.password.text{% endtrans %}</p>
                        <p>{% trans %}new.password{% endtrans %}: {{ mailing.password }} </p>
                        <span class="devider"></span>
                    </td>
                    <td class="expander"></td>
                </tr>
            </table>
        </td>
    </tr>
</table>
{% endblock %}