{% extends "EVTEAEBundle:Email:Base.Mail.twig" %}

{% block title %}{% trans %}title.welcome.user{% endtrans %}{% endblock %}

{% block content %}
<table class="container content" align="center">
    <tr>
        <td>
            <table class="row note">
                <tr>
                    <td class="wrapper last">
                        <p>{% trans %}body.welcome.user.hi{% endtrans %} {{ user.personal_info.name }} {% trans %}body.welcome.user.to{% endtrans %} {{ vertical.domain }}</p>
                        <span class="devider"></span>
                        <p>{% trans %}body.welcome.user.restomail{% endtrans %}</p>
                        <span class="devider"></span>
                    </td>
                    <td class="expander"></td>
                </tr>
            </table>
        </td>
    </tr>
</table>
{% endblock %}